<%= simple_form_for(@presupuesto) do |f| %>
  <%= f.error_notification %>
<div class="row">
<div class="jumbotron">
<div class="container">
	<div class=" col-md-4">
	</div>
	<div class="col-md-4">
  	<div class="field">
    	<%= f.input :presupuesto_id %>
    	<%= f.input :fecha %>
  	</div>
	</div>      
	<div class="col-md-4"> 
   	</div>
</div>
</div>
</div>
<div class="col-md-2"> 
   </div>


<div class="col-md-4"> 
   </div>
<div class="col-md-2"> 
   </div>
<div class="col-md-4">
    <%= f.button :submit %>
</div>
 <div class="col-md-2"> 
   </div>
  
<% end %>


