
<p id="notice"><%= notice %></p>
<h2>Ver  Presupuesto</h2>

<%= link_to edit_presupuesto_path(@presupuesto),  class:" btn btn-success" do  %>
  <i class="glyphicon glyphicon-pencil"></i>
  <% end %> |
  <%= link_to  presupuestos_path, class:" btn btn-info" do  %>
  <i class="glyphicon glyphicon-hand-left"></i>
  <% end %> 
 <div class="panel panel-default">
  <!-- Default panel contents -->
  
  <div class="panel-body">
    <thead>
<p>
  <strong>Presupuesto:</strong>
  <%= @presupuesto.presupuesto_id %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @presupuesto.fecha %>
</p>
</thead>
</div>
</div>





