 <div class="col-sm-3 col-md-4">
  
      <%=image_tag(producto.imagenproducto.url, width: 300, height: 300) %>
      <div class="caption">
        <h3><%= producto.nombre %></h3>
        <p><strong>Descripcion: </strong><%= producto.descripcion %></p>
        <p><strong>Precio: </strong><%= producto.precio %></p>
        <%= link_to add_home_path(producto), class:"btn btn-success", method: :post  do %>
           
            <i class="glyphicon glyphicon-shopping-cart"></i>
          <% end %>
        <%= link_to edit_producto_path(producto), class:" btn btn-info" do  %>
            
            <i class="glyphicon glyphicon-eye-open"></i>
          <% end %>
      </div>

  </div>


