<div class="col-sm-3 col-lg-3 col-md-3">
  <div class="thumbnail">
    <%=image_tag(producto.imagenproducto.url,class: "img-responsive") 
     %>
    
    <div class="caption">
      <h4 class="pull - right">$<%=producto.precio%></h4>
      <h4><%= producto.descripcion %></h4>

        <div class="btn-list">
        <%= link_to add_home_path(producto), class:"btn btn-success", method: :post  do %>
           
            <i class="glyphicon glyphicon-shopping-cart"></i>
          <% end %>
          <%= link_to edit_producto_path(producto), class:" btn btn-info" do  %>
            
            <i class="glyphicon glyphicon-eye-open"></i>
          <% end %>
    
   
      </div>
    </div>
  </div>
</div>
