<p id="notice"><%= notice %></p>

<p>
  <strong>Presupuesto detalle:</strong>
  <%= @presupuesto_detalle.presupuesto_detalle_id %>
</p>

<p>
  <strong>Cantidad:</strong>
  <%= @presupuesto_detalle.cantidad %>
</p>

<%= link_to 'Edit', edit_presupuesto_detalle_path(@presupuesto_detalle) %> |
<%= link_to 'Back', presupuesto_detalles_path %>


#show.html.erb
<h1>mostrando presupuesto </h1>
<p> Fecha: <%= @presupuesto.fecha %> </p>

<table>
	<thead>
		<tr>
			<th>Producto</th>
			<th> Imagen</th>
			<th> cantidad </th>
			<th> Precio </th>
			<th>subTotal </th>
	</tr>
	</thead>
	<tbody>
	

			<% @presupuesto.presupuesto_detalles.each do |detalle| %>
			<tr>
			<td><%= detalle.producto.nombre %></td>
			<td><%= image_tag(detalle.imagen.url, width: 100) %></td>
			<td> <%= detalle.cantidad %> </td>
			<td> <%= number_to_currency detalle.producto.precio %> </td>
			<td><%= number_to_currency (detalle.cantidad * detalle.producto.precio) %> </td>
			</tr>
		<% end  %>
</tbody>
	