<p id="notice"><%= notice %></p>
<h2>Ver  Producto</h2>
<%= link_to  edit_producto_path(@producto), class:" btn btn-success" do  %>
  <i class="glyphicon glyphicon-pencil"></i>
  <% end %> |
<%= link_to  productos_path, class:" btn btn-info" do  %>
  <i class="glyphicon glyphicon-hand-left"></i>
  <% end %> 
  <div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading"></div>
  <div class="panel-body">
    <thead>
<p>
  <strong>Nombre:</strong>
  <%= @producto.nombre %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @producto.descripcion %>
</p>

<p>
  <strong>Categoria:</strong>
  <%= @producto.categoria_id %>
</p>

<p>
  <strong>Precio:</strong>
  <%= @producto.precio %>
</p>
</thead>
</div>
</div>





